html {
    position: relative;
    min-height: 100%;
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
body {min-height: 100%; }
img {height:100%; width:100%; border-radius: 5px;}

/*   <!-- ===============================최 상단 bar  ======================= -->       */
.navbar_Wrapper {
    background-color: orange;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:1px solid green;
    font-size: 1.5rem;
}
.navbar_sizeWraper_1200px {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 100%;
}
.banner_cursor_wrapper div i {font-size: 30px;}

.navbar_sizeWraper_1200px div {
    display: flex;
    justify-content: center;
}
.user_info_display_sectionWrapper {margin-left: 50px;}

.user_info_display_sectionWrapper div {
    display: flex;
    align-items: center;
}
.MainLogo_Wrapper {
    display: flex;
    align-items: center;
}
.MainLogo_Wrapper>div i {font-size: 2rem;}

.menu_bar {margin-right: 50px;}

.menu_bar>table tr td a {color: white}

.user_inter_font {font-size: 0.7rem;}

.menu_bar table tr td {padding-left: 10px; margin-left: 50px}
/* <!-- 검색 구간 --> */
.section_contatiner{
    width: 1200px;
    display: flex;
    justify-content: center;
    margin:auto;
}

.form-control:hover {border:1px solid black;}

.wrn-btn{
    width:100px;
    font-size: 16px;
    font-weight: 400;
    border-radius:0;
}
/* <!-- 검색 구간 --> */

/* <!-- 정렬 구현 구간 --> */
#sorter_wrapper {
   
    margin: auto;
    width:1200px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.sorter_row {
    display: flex;
    width:300px;
    
}
.sorter_row > p {
    color:darkgray;
    padding-left: 5px;
    margin-top: 35px;
    margin-bottom: 0;
    cursor: pointer;
}

/* 메인 아티클 CSS */

/*사이트바*/
 #mainArticle_wrapper {
     width:1200px;
     height:1250px;
     
     margin:auto;
     margin-top: 20px;
    
     display: flex;
     justify-content: center;
 }

 .mainArticle_sidebar {
     height:100%;
     width:200px;
     
     background-color: rgb(255, 213, 122);

 }

 .side_bar.font {
     width:100%;
     height:5%;
     font-size: 2.5rem;
     text-align: center;
     border-bottom:2px solid rgb(226, 226, 226) ;

 }


 /*사이트바*/

 /*오른쪽 아티클 구간*/

 .location_display {
     width:150px;
     
     margin: auto;
     font-size: 1.5rem;
    
 }

 .mainArticle_article {
     height:100%;
     width:1000px;
     padding-left: 25px;
     
     
 }
 .article_frame {
     display: inline-block;
     margin-right: 15px;
     margin-bottom: 15px;
     height:300px;
     width:23%;
 }

 .img_frame {
     height:60%;
     width:100%;
 }

 .product_title {
    margin-top: 5px;
    width:100%;
    height:10%;
}

.popular_board_title {
   text-decoration: none;
   margin-left:10px;
   font-weight: bold;
}

.location_area {
    height:7%;
    width:96.5%;
    margin-left: 10px;
    
}

.ratring_counter {   
    width:100%;
    height:6%;
    display: flex;
    float: left;
}

.ratring_counter > p {
    font-size: 0.7rem;
    height:100%;
    margin-left: 10px;
    margin-top:10px;
    color:grey;
}

.price_display {
    height:18%;
    text-align: right;
    line-height: 250%;
    margin-right: 10px;;
    font-size: 1.5rem;
    font-weight: bold;
    color:orange;
}

.bottom_font {
    width:200px;
    height:20px;
    margin:auto;
    margin-top: 15px;
    font-size: 1rem;
    font-weight: bold;
}

.page_display {
    width:1200px;
    height:40px;
    
    margin: auto;
    display: flex;
    justify-content: space-between;
}




/*오른쪽 아티클 구간*/

/* 메인 아티클 CSS */

#footerbar {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 270px;
    background-color: #00251a
}

.footerbar_totalWrapper {
    width: 1200px;
    height: 100%;
    border: 1px solid white;
    margin: auto;
}

.footer_upperWrapper {
    width: 100%;
    height: 52px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_upperWrapper>button {
    margin-left: 40px;
}

.footer_belowWrapper {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}