<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectList">
	SELECT  
	       FAQ_NO
	     , MEM_NAME
	     , FAQ_TITLE
	     , FAQ_CONTENT
	     , FAQ_ENROLL_DATE
	     , FAQ_CATEGORY
	  FROM FAQ 
	  JOIN MEMBER USING(MEM_NO)
	 WHERE FAQ_STATUS='Y'
	 ORDER 
	    BY FAQ_NO DESC
	</entry>
	<entry key="">
	</entry>
	<entry key="">
	</entry>




</properties>
